.header-background {
    width: 100%;
    height: 91px;
    background-color: #003f64;
}

.header-container {
    max-width: 1324px;
    width: 100%;
    height: 91px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-logo {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.header-nav a {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.header-nav a:hover {
    opacity: 0.85;
    text-decoration: underline;
}
